{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
        <header>
            <h1><a href="{{ path('homepage') }}">Guestbook</a></h1>
            <ul>
            {% for conference in conferences %}
                <li><a href="{{ path('conference', { id: conference.id }) }}">{{ conference }}</a></li>
            {% endfor %}
            </ul>
        <hr />
        </header>
    <section>
        <h1>Les conférences !</h1>
        {% for conference in conferences %}
            <article>
                <a href="{{ path('conference', {id: conference.id }) }}">{{ conference }}</a>
            </article>
        {% endfor %}
    </section>
{% endblock %}
